@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
}