.page[b-6iaftcaddt] {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.top-bar[b-6iaftcaddt]{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}

.logo[b-6iaftcaddt]{
    margin: 0;
    width: 20vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.logo>img[b-6iaftcaddt]{
    display: flex;
}

main[b-6iaftcaddt] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}


