

<div class="home">
    <img src="play.png" />
    <article class="options">
        <a href="play">
            <img src="player1.png">
        </a>
        <a href="play">
            <img src="player2.png">
        </a>
    </article>
</div>