@inherits LayoutComponentBase

<div class="page">
    <header class="top-bar">
        <a class="logo" href="">
            <img src="/Connect4Logo.png"/>
        </a>
    </header>
    <main>
        @Body
    </main>
</div>
