.page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.top-bar{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}

.logo{
    margin: 0;
    width: 20vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.05);
}

.logo>img{
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}


