@inherits LayoutComponentBase

<PageTitle>Index</PageTitle>
<div class="page">
    <main>
        <img src="/Connect4Logo.png"/>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
